<nb-card [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-body>
        <h1 class="title">{{ 'AUTH_MODULE.HEADING.RECOVERY_CODE' | translate }}</h1>
        <p class="sub-title">
            {{ 'AUTH_MODULE.SUB_HEADING.RECOVERY_CODE' | translate }}
        </p>
        <form [formGroup]="recoveryCodeForm" (ngSubmit)="onSubmitRecoveryCodeForm(recoveryCodeForm)">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="recoveryCode" class="label">{{ 'AUTH_MODULE.LABEL.CODE' | translate }}</label>
                        <input name="recoveryCode" nbInput fullWidth formControlName="recoveryCode" placeholder="{{ 'AUTH_MODULE.PLACEHOLDER.CODE' | translate }}" />
                        <ng-container *ngIf="submitted && RecoveryCodeForm.recoveryCode.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.RECOVERY_CODE_REQUIRED' | translate }}</span>
                            <span *ngIf="err.minlength" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.RECOVERY_CODE_VALID' | translate }}</span>
                            <span *ngIf="err.maxlength" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.RECOVERY_CODE_VALID' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <button nbButton fullWidth hero status="primary" type="submit">
                {{ 'AUTH_MODULE.BUTTON.CONTINUE' | translate }}
            </button>
        </form>
        <section class="another-action">
            {{ 'AUTH_MODULE.MESSAGE.DONT_GET_CODE' | translate }}
            <button nbButton (click)="onResendCode()" hero status="primary">
                {{ 'AUTH_MODULE.BUTTON.RESEND_CODE' | translate }}
            </button>
        </section>
        <section class="another-action" *ngIf="resendCode">
            {{ 'AUTH_MODULE.MESSAGE.CODE_SENT_INFO' | translate }}
        </section>
        <section class="another-action">
            <a routerLink="../login" class="text-link">{{ 'AUTH_MODULE.BUTTON.BACK_TO_LOGIN' | translate }}</a>
        </section>
    </nb-card-body>
</nb-card>
