<header>
    <div class="left-nav">
        <nb-actions>
            <nb-action *ngIf="(login$ | async) && hasSideMenu">
                <nb-icon icon="menu-2-outline" pack="eva" (click)="toggleSideBar()"> </nb-icon>
            </nb-action>
            <nb-action>
                <a class="logo" [href]="HOST_URL"> Ancestor<span>Culture</span></a>
            </nb-action>
            <nb-action *ngIf="login$ | async"> <a (click)="onNavigateProject()" [ngClass]="activeProject ? 'active' : ''" [href]="HOST_URL + '/project'">Project</a> </nb-action>
        </nb-actions>
    </div>
    <nb-actions>
        <nb-action> Select Language </nb-action>
        <nb-action *ngFor="let lang of translate.getLangs()">
            <a (click)="onChangeLanguage(lang)" [ngClass]="userLanguage == lang ? 'active' : ''">{{ lang == 'en' ? 'English' : 'नेपाली' }}</a>
        </nb-action>
        <nb-action *ngIf="login$ | async"> <nb-user [name]="userData.fullName" [title]="userData.email" [picture]="profilePictureURL"> </nb-user> </nb-action>
        <nb-action>
            <button *ngIf="login$ | async" nbButton [nbContextMenu]="menuWhenLoggedIn">
                <nb-icon icon="grid-outline" pack="eva"> </nb-icon>
            </button>
            <button *ngIf="!(login$ | async)" nbButton [nbContextMenu]="menuWhenNotLogin">
                <nb-icon icon="grid-outline" pack="eva"> </nb-icon>
            </button>
        </nb-action>
    </nb-actions>
</header>
