<nb-card [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-header>
        <h6>{{ 'USER_MODULE.HEADING.CHANGE_PASSWORD' | translate }}</h6>
        <button nbButton (click)="closeDialog()">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit(changePasswordFormGroup)">
            <p class="sub-title">{{ 'USER_MODULE.SUB_HEADING.CHANGE_PASSWORD' | translate }}</p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="currentPassword" class="label">{{ 'USER_MODULE.LABEL.CURRENT_PASSWORD' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                            <input name="currentPassword" type="password" nbInput fullWidth formControlName="currentPassword" placeholder="{{ 'USER_MODULE.PLACEHOLDER.CURRENT_PASSWORD' | translate }}" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ChangePasswordFormGroup.currentPassword.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Current Password is a required field</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="password" class="label">{{ 'USER_MODULE.LABEL.PASSWORD' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                            <input name="password" type="password" nbInput fullWidth formControlName="password" placeholder="{{ 'USER_MODULE.PLACEHOLDER.PASSWORD' | translate }}" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ChangePasswordFormGroup.password.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Password is a required field</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="confirmPassword" class="label">{{ 'USER_MODULE.LABEL.CONFIRM_PASSWORD' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                            <input name="confirmPassword" type="password" nbInput fullWidth (input)="onChangePassword()" formControlName="confirmPassword" placeholder="{{ 'USER_MODULE.PLACEHOLDER.CONFIRM_PASSWORD' | translate }}" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ChangePasswordFormGroup.confirmPassword.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Confirm Password is a required field</span>
                            <span *ngIf="err.passwordMismatch" class="caption status-danger">*Confirm password does not match with password</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <button nbButton hero status="primary" type="submit">{{ 'USER_MODULE.BUTTON.CHANGE_PASSWORD' | translate }}</button>
        </form>
    </nb-card-body>
</nb-card>
