<nb-card [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-body>
        <h1 class="title">
            {{ 'AUTH_MODULE.HEADING.REQUEST_PASSWORD' | translate }}
        </h1>
        <p class="sub-title">
            {{ 'AUTH_MODULE.SUB_HEADING.REQUEST_PASSWORD' | translate }}
        </p>
        <form [formGroup]="requestPasswordFormGroup" (ngSubmit)="onSubmitRequestPassword(requestPasswordFormGroup)">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="emailorphone" class="label">{{ 'AUTH_MODULE.LABEL.EMAIL_OR_PHONE' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
                            <input name="emailorphone" nbInput fullWidth formControlName="emailOrPhone" placeholder="{{ 'AUTH_MODULE.PLACEHOLDER.EMAIL_OR_PHONE' | translate }}" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && RequestPasswordFormGroup.emailOrPhone.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.EMAIL_REQUIRED' | translate }}</span>
                            <span *ngIf="err.email" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.EMAIL_VALID' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <button nbButton fullWidth hero status="primary" type="submit">
                {{ 'AUTH_MODULE.BUTTON.REQUEST_PASSWORD' | translate }}
            </button>
        </form>
        <section class="another-action">
            <a routerLink="../login" class="text-link">{{ 'AUTH_MODULE.BUTTON.BACK_TO_LOGIN' | translate }}</a>
        </section>
    </nb-card-body>
</nb-card>
