<div class="thank-body">
    <div class="content">
        <h4>{{ 'THANK_YOU_PAGE.WELCOME' | translate }}</h4>
        <p>{{ 'THANK_YOU_PAGE.THANKING' | translate }}</p>
        <p>{{ 'THANK_YOU_PAGE.PROJECT_THEME' | translate }}</p>
        <hr />
    </div>
    <p>
        <b>{{ 'THANK_YOU_PAGE.HELP_MESSAGE' | translate }}</b>
    </p>

    <p>
        {{ 'THANK_YOU_PAGE.CONTACT_US_START' | translate }}
        <a href="https://bhagatgurung.com.np" target="_blank">
            <span> {{ 'THANK_YOU_PAGE.CONTACT_US_END' | translate }} </span>
        </a>
    </p>
</div>

<p>{{ 'THANK_YOU_PAGE.THANK_YOU' | translate }},</p>
<p>{{ 'THANK_YOU_PAGE.BRAND' | translate }}</p>
<p>{{ 'THANK_YOU_PAGE.CREATOR' | translate }}</p>
