<div class="thank-body">
    <div class="content">
        <h4>Welcome to Ancestor Culture.</h4>
        <p>Thank you for your registration, you will be notified when your account is activated. This could take up to two weeks.</p>
        <p>Welcome to the initiative to learn, teach and save culture.</p>
        <hr />
    </div>
    <p>
        <b>We’re here to help</b>
    </p>

    <p>
        If you have any questions, feel free to <a href="https://bhagatgurung.com.np" target="_blank"> <span> contact us. </span></a>
    </p>
</div>

<p>Thank you,</p>
<p>Ancestor Culture</p>
<p>Bhagat Gurung</p>
