<nb-card>
    <nb-card-body>
        <nb-route-tabset [tabs]="profileTabs"></nb-route-tabset>
        <!-- <nb-tabset>
            <nb-tab tabTitle="Basic Information">
                <app-basic-information></app-basic-information>
            </nb-tab>
            <nb-tab tabTitle="Family Information">
                <app-family-information></app-family-information>
            </nb-tab>
            <nb-tab tabTitle="Language Information" disabled>
                <p>List of <strong>transactions</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Pictures">
                <app-user-picture></app-user-picture>
            </nb-tab>
        </nb-tabset> -->
        <!-- <router-outlet></router-outlet> -->
    </nb-card-body>
</nb-card>
