<nb-card [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-body>
        <h1 class="title">
            {{ 'AUTH_MODULE.HEADING.RESET_PASSWORD' | translate }}
        </h1>
        <p class="sub-title">
            {{ 'AUTH_MODULE.SUB_HEADING.RESET_PASSWORD' | translate }}
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPasswordForm(resetPasswordForm)">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="password" class="label">{{ 'AUTH_MODULE.LABEL.PASSWORD' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                            <input name="password" type="password" nbInput fullWidth formControlName="password" placeholder="{{ 'AUTH_MODULE.PLACEHOLDER.PASSWORD' | translate }}" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ResetPasswordForm.password.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.PASSWORD_REQUIRED' | translate }}</span>
                            <span *ngIf="err.minlength" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.PASSWORD_MINLENGTH' | translate }}</span>
                            <span *ngIf="err.maxlength" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.PASSWORD_MAXLENGTH' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="confirmpassword" class="label">{{ 'AUTH_MODULE.LABEL.CONFIRM_PASSWORD' | translate }}</label>
                        <nb-form-field>
                            <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                            <input name="confirmpassword" type="password" nbInput fullWidth formControlName="confirmPassword" placeholder="{{ 'AUTH_MODULE.PLACEHOLDER.CONFIRM_PASSWORD' | translate }}" (input)="onChangePassword()" />
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ResetPasswordForm.confirmPassword.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.CONFIRM_PASSWORD_REQUIRED' | translate }}</span>
                            <span *ngIf="err.passwordMismatch" class="caption status-danger">*{{ 'AUTH_MODULE.MESSAGE.CONFIRM_PASSWORD_MATCH' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <button nbButton fullWidth hero status="primary" type="submit">
                {{ 'AUTH_MODULE.BUTTON.RESET_PASSWORD' | translate }}
            </button>
        </form>
        <section class="another-action">
            <a routerLink="../login" class="text-link">{{ 'AUTH_MODULE.BUTTON.BACK_TO_LOGIN' | translate }}</a>
        </section>
    </nb-card-body>
</nb-card>
