<nb-card class="dialog-card" [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-header>
        <h6>{{ 'SUBJECT_MODULE.HEADING.NEW_CHILD' | translate }}{{ subject.fullName }}</h6>
        <button nbButton (click)="closeDialog()">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="newChildForm" (ngSubmit)="onSaveNewChild(newChildForm)">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="image-upload">
                            <label class="upload-holder" for="userPicture">
                                <div class="upload-button">
                                    <nb-icon icon="camera-outline"></nb-icon>
                                </div>
                                <img [src]="imageURL ? imageURL : '/assets/images/subjects/default-user-image.png'" />
                            </label>
                            <input nbInput type="file" hidden id="userPicture" (change)="onNewImage($event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="parent" class="label">{{ subject?.gender === 'M' ? '*' + ('SUBJECT_MODULE.LABEL.MOTHER' | translate) : '*' + ('SUBJECT_MODULE.LABEL.FATHER' | translate) }}</label>
                        <nb-select fullWidth placeholder="{{ subject?.gender === 'M' ? '*Mother' : '*Father' }}" formControlName="parent">
                            <nb-option *ngFor="let parent of parents" [value]="parent?.spouse?._id">{{ parent?.spouse?.fullName }}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="submitted && ChildForm.parent.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*('SUBJECT_MODULE.MESSAGE.PARENT_REQUIRED' | translate)</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="firstName" class="label">*{{ 'SUBJECT_MODULE.LABEL.FIRST_NAME' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.FIRST_NAME' | translate }}" formControlName="firstName" />
                    </div>
                    <ng-container *ngIf="submitted && ChildForm.firstName.errors as err">
                        <span *ngIf="err.required" class="caption status-danger">*{{ 'SUBJECT_MODULE.MESSAGE.FIRST_NAME_REQUIRED' | translate }}</span>
                    </ng-container>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="lastName" class="label">*{{ 'SUBJECT_MODULE.LABEL.LAST_NAME' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.LAST_NAME' | translate }}" formControlName="lastName" />
                        <ng-container *ngIf="submitted && ChildForm.lastName.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'SUBJECT_MODULE.MESSAGE.LAST_NAME_REQUIRED' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="gender" class="label">*{{ 'SUBJECT_MODULE.LABEL.GENDER' | translate }}</label>
                        <nb-select fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.GENDER' | translate }}" formControlName="gender">
                            <nb-option *ngFor="let genderRow of genders" [value]="genderRow.sGender">{{ genderRow.lGender }}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="submitted && ChildForm.gender.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*{{ 'SUBJECT_MODULE.MESSAGE.GENDER_REQUIRED' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="livingStatus" class="label">{{ 'SUBJECT_MODULE.LABEL.IS_LIVING' | translate }}</label>
                        <nb-radio-group formControlName="isLiving">
                            <nb-radio [value]="true"> {{ 'SUBJECT_MODULE.LABEL.YES' | translate }} </nb-radio>
                            <nb-radio [value]="false"> {{ 'SUBJECT_MODULE.LABEL.NO' | translate }} </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <nb-form-field>
                            <input nbInput #dobInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.DOB' | translate }}" [nbDatepicker]="dob" formControlName="dateOfBirth" (input)="onChangeDateOfBirth($event.target.value)" />
                            <nb-datepicker #dob [max]="maxDate"></nb-datepicker>
                            <button nbSuffix nbButton ghost type="button" (click)="dobInput.click()">
                                <nb-icon icon="calendar-outline"> </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ChildForm.dateOfBirth.errors as err">
                            <span *ngIf="err.nbDatepickerMax" class="caption status-danger">{{ 'SUBJECT_MODULE.MESSAGE.DOB_MAX' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="!ChildForm.isLiving.value">
                    <div class="form-group">
                        <nb-form-field>
                            <input nbInput #dodInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.DOD' | translate }}" [nbDatepicker]="dod" formControlName="dateOfDeath" (input)="onChangeDateOfDeath($event.target.value)" />
                            <nb-datepicker #dod [max]="maxDate"></nb-datepicker>
                            <button nbSuffix nbButton ghost type="button" (click)="dodInput.click()">
                                <nb-icon icon="calendar-outline"> </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container *ngIf="submitted && ChildForm.dateOfDeath.errors as err">
                            <span *ngIf="err.nbDatepickerMax" class="caption status-danger">{{ 'SUBJECT_MODULE.MESSAGE.DOD_MAX' | translate }}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="country" class="label">*{{ 'SUBJECT_MODULE.LABEL.COUNTRY' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.COUNTRY' | translate }}" formControlName="country" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="address" class="label">*{{ 'SUBJECT_MODULE.LABEL.ADDRESS' | translate }}</label>
                        <input type="text" nbInput fullWidth placeholder="{{ 'SUBJECT_MODULE.PLACEHOLDER.ADDRESS' | translate }}" formControlName="address" />
                    </div>
                </div>
            </div>

            <button nbButton hero status="primary" type="submit">{{ 'SUBJECT_MODULE.BUTTON.SAVE' | translate }}</button>
        </form>
    </nb-card-body>
</nb-card>
