<nb-card class="dialog-card" [nbSpinner]="loaderService.getLoaderSubject | async" nbSpinnerStatus="info">
    <nb-card-header>
        <h6>New Child - For {{ subject.fullName }}</h6>
        <button nbButton (click)="closeDialog()">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="newChildForm" (ngSubmit)="onSaveNewChild(newChildForm)">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="image-upload">
                            <label class="upload-holder" for="userPicture">
                                <div class="upload-button">
                                    <nb-icon icon="camera-outline"></nb-icon>
                                </div>
                                <img [src]="imageURL ? imageURL : '/assets/images/subjects/default-user-image.png'" />
                            </label>
                            <input nbInput type="file" hidden id="userPicture" (change)="onNewImage($event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="parent" class="label">{{ subject?.gender === 'M' ? '*Mother' : '*Father' }}</label>
                        <nb-select fullWidth placeholder="{{ subject?.gender === 'M' ? '*Mother' : '*Father' }}" formControlName="parent">
                            <nb-option *ngFor="let parent of parents" [value]="parent?.spouse?._id">{{ parent?.spouse?.fullName }}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="submitted && ChildForm.parent.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Select a parent to continue</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="firstName" class="label">*First Name:</label>
                        <input type="text" nbInput fullWidth placeholder="Enter First name" formControlName="firstName" />
                    </div>
                    <ng-container *ngIf="submitted && ChildForm.firstName.errors as err">
                        <span *ngIf="err.required" class="caption status-danger">*First Name is a required field</span>
                    </ng-container>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="lastName" class="label">*Last Name:</label>
                        <input type="text" nbInput fullWidth placeholder="Enter Last name" formControlName="lastName" />
                        <ng-container *ngIf="submitted && ChildForm.lastName.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Last Name is a required field</span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="gender" class="label">*Gender:</label>
                        <nb-select fullWidth placeholder="Select Gender" formControlName="gender">
                            <nb-option *ngFor="let genderRow of genders" [value]="genderRow.sGender">{{ genderRow.lGender }}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="submitted && ChildForm.gender.errors as err">
                            <span *ngIf="err.required" class="caption status-danger">*Select a gender to continue</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="country" class="label">*Country:</label>
                        <input type="text" nbInput fullWidth placeholder="" formControlName="country" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="address" class="label">*Address:</label>
                        <input type="text" nbInput fullWidth placeholder="" formControlName="address" />
                    </div>
                </div>
            </div>

            <button nbButton hero status="primary" type="submit">Save</button>
        </form>
    </nb-card-body>
</nb-card>
