<div class="page-header">
    <h1 class="title">{{ componentType === 'subject' ? ('SUBJECT_MODULE.HEADING.SUBJECT' | translate) : ('SUBJECT_MODULE.HEADING.FAMILY_TREE' | translate) }}</h1>
    <ng-container *ngIf="componentType === 'subject'">
        <section class="my-auto">
            <button nbButton hero status="primary" (click)="openAddSubjectDialog()"><nb-icon icon="person-outline"></nb-icon>{{ 'SUBJECT_MODULE.BUTTON.ADD_SUBJECT' | translate }}</button>
        </section>
    </ng-container>
</div>
<nb-card>
    <nb-card-body>
        <ng-container *ngIf="(loaderService.getLoaderSubject | async) && !dataFound">
            <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="!(loaderService.getLoaderSubject | async) && !dataFound">
            <app-data-not-found type="{{ componentType === 'subject' ? ('SUBJECT_MODULE.HEADING.SUBJECT' | translate) : ('SUBJECT_MODULE.HEADING.FAMILY_TREE' | translate) }}"></app-data-not-found>
        </ng-container>
        <table *ngIf="!(loaderService.getLoaderSubject | async) && dataFound" [nbTreeGrid]="data">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columns"></tr>
            <tr [clickToToggle]="false" nbTreeGridRow *nbTreeGridRowDef="let row; columns: columns"></tr>
            <ng-container *ngFor="let column of columns; let i = index" [nbTreeGridColumnDef]="column">
                <ng-template [ngIf]="column === 'firstName'">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                        {{ columnNames[i] }}
                    </th>
                </ng-template>
                <ng-template [ngIf]="column === 'action'">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                        {{ columnNames[i] }}
                    </th>
                </ng-template>
                <ng-template [ngIf]="column !== 'action' || column !== 'firstName'">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                        {{ columnNames[i] }}
                    </th>
                </ng-template>
                <ng-template [ngIf]="column === 'firstName'">
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <div style="display: flex">
                            <nb-tree-grid-row-toggle [expanded]="row.expanded" style="padding: 5px" *ngIf="row?.children?.length"> </nb-tree-grid-row-toggle>
                            <nb-user [ngClass]="{ 'margin-left': !row?.children?.length }" name="{{ row.data[column] || '-' }}" picture="{{ row.data['detail'].imageURL ? BASE_URL + row.data['detail'].projectId + '/' + row.data['detail'].imageURL : row.data['detail'].gender === 'M' ? '/assets/images/subjects/default-male.png' : '/assets/images/subjects/default-female.png' }}"> </nb-user>
                        </div>
                    </td>
                </ng-template>
                <ng-template [ngIf]="column === 'action'">
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <nb-actions>
                            <nb-action [nbContextMenu]="menuItems" (click)="openMenu(row.data)">
                                <nb-icon icon="more-vertical-outline"></nb-icon>
                            </nb-action>
                        </nb-actions>
                    </td>
                </ng-template>
                <ng-template [ngIf]="column === 'address'">
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <div>
                            <span nbTooltip="Country" nbTooltipPlacement="left">{{ row.data['country'] }}</span>
                            <span nbTooltip="Address" nbTooltipPlacement="left">
                                <small>
                                    <i>{{ row.data[column] || '-' }}</i>
                                </small>
                            </span>
                        </div>
                    </td>
                </ng-template>
                <ng-template [ngIf]="column !== 'action' || column !== 'firstName'">
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[column] || '-' }}</td>
                </ng-template>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>
